services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    container_name: time-sync-backend
    env_file:
      - ./apps/backend/.env
    environment:
      - DATABASE_URL=postgres://admin:password@postgres:5432/timesync
      - NODE_ENV=development
    ports:
      - "3000:3000"

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    container_name: time-sync-frontend
    environment:
      - EXPO_PUBLIC_API_URL=http://10.0.0.51:3000
    ports:
      - "3002:3002"
      - "8081:8081"
    depends_on:
      - backend
    stdin_open: true
    tty: true
    volumes:
      - ./packages:/usr/src/app/packages